@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
    width: 1400px;
    margin: 0 auto;
}
body{
    background: #FBFBFB;
}
html{
    scroll-behavior: smooth;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif
}

.Poppins{
    font-family: 'Poppins', sans-serif;
}
.Lato{
    font-family: 'Lato', sans-serif;
}


